# ignoring unwanted files
.DS_Store
gitea/.DS_Store
argocd/.DS_Store
.editorconfig
.helmignore
.prettierignore
.yamllint
harbor/cosign/cosign.key
harbor/registry.harbor.com+1-key.pem
harbor/registry.harbor.com+1.pem