# ignoring unwanted files
.DS_Store
gitea/.DS_Store
argocd/.DS_Store
.editorconfig
.helmignore
.prettierignore
.yamllint
harbor/cosign/cosign.key
harbor/registry.harbor.com+1-key.pem
harbor/registry.harbor.com+1.pem
crossplane/crossplane-448808-6ed83b305fb2.json
selhosted_apps/excalidraw/draw.local.io+1-key.pem
selhosted_apps/excalidraw/draw.local.io+1.pem
observability/prometheus/kube-prometheus-stack/certs
keycloak/manifests-based/keycloak.local.com+1-key.pem
keycloak/manifests-based/keycloak.local.com+1.pem
vscodium_settings*/*